body {
    font-family: Arial, sans-serif;
    background-color: blue;
    display: flex;
    justify-item: center;
    align-item: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 25px;
    width:320px;
    text-alighn: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
input{
    width: 250px;
    padding: 10px;
    margin: 15px 0;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

